<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

  
  
  <servlet>
<servlet-name>SaveContact</servlet-name>
<servlet-class>eurecom.fr.AddressBook.SaveContactServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>SaveContact</servlet-name>
<url-pattern>/save</url-pattern>
</servlet-mapping>
  
  
   <servlet>
<servlet-name>ListContacts</servlet-name>
<servlet-class>eurecom.fr.AddressBook.ContactsListServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ListContacts</servlet-name>
<url-pattern>/contactlist</url-pattern>
</servlet-mapping>
  


<servlet>
<servlet-name>ContactDetails</servlet-name>
<servlet-class>eurecom.fr.AddressBook.ContactDetailsServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ContactDetails</servlet-name>
<url-pattern>/contactdetails</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>DeleteContact</servlet-name>
<servlet-class>eurecom.fr.AddressBook.DeleteContactServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>DeleteContact</servlet-name>
<url-pattern>/deletecontact</url-pattern>
</servlet-mapping>


  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>